<!DOCTYPE html>
<html>
<head>
  <title>LoudSounds</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'audiojs/audio.js' %>

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">

  <%= csrf_meta_tags %>

  <script src="//widget.cloudinary.com/global/all.js"
          type="text/javascript"></script>

  <script type="text/javascript">
  window.image_cloudinary_options = {
    cloud_name: '<%= ENV['CLOUD_NAME'] %>',
    upload_preset: '<%= ENV['UPLOAD_PRESET'] %>',
    sources: ['local', 'url'],
    multiple: false,
    client_allowed_formats: ['png', 'jpg', 'jpeg', 'gif', 'bmp'],
    min_image_height: 1,
    min_image_width: 1,
    max_file_size: 3000000,
    theme: 'minimal',
    text: {"sources.local.drop_file": "Drop image here",
           "sources.local.select_file": "Upload",
           "progress.failed_note": "Your image failed to upload"}
  };
  </script>

  <script type="text/javascript">
  window.audio_cloudinary_options = {
    cloud_name: '<%= ENV['CLOUD_NAME'] %>',
    upload_preset: '<%= ENV['UPLOAD_PRESET'] %>',
    sources: ['local', 'url'],
    multiple: false,
    client_allowed_formats: ['mp3', 'm4a'],
    max_file_size: 30000000,
    text: {"sources.local.drop_file": "Drop mp3 or m4a here",
           "sources.local.select_file": "Upload",
           "sources.url.note": "Public URL of an mp3 file:",
           "progress.failed_note": "Your mp3 failed to upload"}
  };
  </script>

  <script>
    audiojs.events.ready(function() {
      window.as = audiojs.createAll();
    });
  </script>

</head>
<body>

<%= yield %>

</body>
</html>
